name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-image:
    uses: ./.github/workflows/build_and_publish_image.yml
    with:
      image_name: ghcr.io/${{ github.repository }}:latest
      dockerfile: ./Dockerfile
      context: .
      push: true
    secrets:
      REGISTRY_USERNAME: ${{ secrets.GITHUB_ACTOR }}
      REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
